version: '3.8'
services:
  db:
    platform: linux/x86_64
    image: mysql:8.0
    ports:
      - 3306:3306
    environment:
      TZ: 'Asia/Tokyo'
    cap_add:
      - SYS_NICE  
    volumes:
      - ./db.mysql:/var/lib/mysql
      - ./schema:/docker-entrypoint-initdb.d
      - ./data:/var/lib/mysql-files
    env_file:
      - .env.development